
$danger: rgb(221,86,75);
$dark: rgb(74,43,27);
$light: rgb(226,215,203);
$positive: rgb(142,185,139);
$accent: rgb(210,132,58);
$secondary: rgb(245,217,110);
$primary: rgb(47,96,166);
$prier: rgb(24,70,133);
