//for consistent spacing
$space: 5px;
$space-scaled: 5%;
$gap: 10px;
$gap-scaled: 10%;
$some: 3px;
$some-scaled: 3%;
$lot: 15px;
$lot-scaled: 15%;
$ton: 20px;
$all: 100%;
$half: 50%;
$third: 33.33333%;
$fourth: 25%;
$fifth: 20%;
$sixth: 16.66666%; //z-indexes
$below: 1;
$ground: 10;
$above: 100;
$clouds: 1000;
$mobile-width: 767px;
$shoe-size: 400px;
$shoe-size-mobile: 700px;
